.ui-state-default {
    list-style-type: none;
    padding: 21px;
    transition: transform .2s;
    width: 20px;
    height: 20px;
}

.ui-state-default:hover {
    transform: scale(1.5);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* start ui-state-default */

.ui-state-default {
    background: none;
    border: none;
}

#sortable2 li:nth-child(4) {
    margin-bottom: 10rem;
}

#sortable2 li:nth-child(5) {
    margin-bottom: -1rem;
}

#sortable2 li:nth-child(7) {
    margin-bottom: -1rem;
}